html, body {
  height: 100%;
}
/* body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

@keyframes rotate {
  from {
    transform: rotateY(0deg) rotateX(0deg);
  }
  to {
    transform: rotateY(360deg) rotateX(360deg);
  }
}
.wrapperBox{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.scope{
	margin-top: 30px;
	font-size: 30px;
}
.wrapper {
	margin: 0 30px;
  height:100px;
  width:100px;
  position:relative;
  /* margin:auto; */
  transform-style:preserve-3d;
  /* -webkit-animation:rotate 15s infinite; */
  /* -o-animation:rotate 15s infinite; */
  /* animation:rotate 15s infinite; */
}
.rotateWrapper{
	-webkit-animation:rotate 1s linear infinite;
	-o-animation:rotate 1s linear infinite;
	animation:rotate 1s linear infinite;
}
 .wrapper > div {
  height:100%;
  width:100%;
  /* opacity:0.9; */
  position:absolute;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  display: flex;
  align-self: center;
  border: 1px solid #dfdfdf;
  box-sizing: border-box;
  /* visibility: hidden; */
}
.wrapper > div span{
	width: 15px;
	height: 15px;
	background: #000;
	border-radius: 50%;
}
.box1 {
  align-items: center;
  justify-content: center;
}
.box2 {
  justify-content: space-between;
}
.box2 span:last-child {
	align-self: flex-end;
}
.box3 {
  justify-content: space-between;
}
.box3 span:nth-of-type(2) {
    align-self: center;
  }
.box3 span:last-child {
align-self: flex-end;
}
.box4 {
  flex-direction: column;
  justify-content: space-between;
}
.box4 > div {
    display: flex;
    justify-content: space-between;
  }
.box5 {
  justify-content: space-between;
}
.box5 >div{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.box5 >span{
	align-self: center;
	/* visibility: visible; */
}
.box6 {
  justify-content: space-between;
}
.box6>div{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.boxT1 {
  transform:translateZ(50px); // 50px = 骰子面一半的长度50px + padding的20px
}
.boxT2 {
  transform:rotateY(180deg) translateZ(50px);
}
.boxT3 {
  transform:rotateY(270deg) translateZ(50px);
}
.boxT4 {
  transform:rotateX(270deg) translateZ(50px);
}
.boxT5 {
  transform:rotateX(90deg) translateZ(50px);
}
.boxT6 {
  transform:rotateY(90deg) translateZ(50px);
}

button{
	height: 30px;
	margin-right: 30px;
}
@media screen and (max-width:980px){
	.wrapper{
		width: 60px;
		height: 60px;
		margin: 0 10px;
	}
	.wrapper>div{
		padding: 12px;
	}
	.wrapper>div span{
		width: 10px;
		height: 10px;
	}
	.boxT1 {
	  transform:translateZ(30px); // 50px = 骰子面一半的长度50px + padding的20px
	}
	.boxT2 {
	  transform:rotateY(180deg) translateZ(30px);
	}
	.boxT3 {
	  transform:rotateY(270deg) translateZ(30px);
	}
	.boxT4 {
	  transform:rotateX(270deg) translateZ(30px);
	}
	.boxT5 {
	  transform:rotateX(90deg) translateZ(30px);
	}
	.boxT6 {
	  transform:rotateY(90deg) translateZ(30px);
	}
}